{% extends 'base.html.twig' %}
{% block title %}Greeting App{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#<link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">#}
    <link href="{{ asset('assets/stylesheets/style.css') }}" rel="stylesheet" type="text/css">
    {#<link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>#}
    {#<link rel="stylesheet" type="text/css" href="style.css"/>#}
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/_jQuery.js') }}"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="node_modules/material-components-web/dist/material-components-web.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock javascripts %}
{% block body %}
    <div class="design">
        <table class="table mdc-elevation--z16">
            <tr>
                <th class="empty"></th>
                <th class="horizontal">not urgent</th>
                <th class="horizontal">urgent</th>
            </tr>
            <tr>
                <th class="vertical">
                    <div class="text__vertical">important</div>
                </th>
                <td class="td__task">
                    <div class="box">
                        <ul class="connectedSortable drop sortable1">
                            <li class="list__tasks">
                                <input type="checkbox">
                                <label>Task 1 </label>
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <label>Task 1 </label>
                                <i class="fa fa-pencil"></i>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="td__task">
                    <div class="box">
                        <ul class="connectedSortable drop sortable3 ">
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                        </ul>
                    </div>
                </td>
            <tr>
                <th class="vertical">
                    <div class="text__vertical">not important</div>
                </th>
                <td class="td__task">
                    <div class="box">
                        <ul class="connectedSortable drop sortable3 ">
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="td__task">
                    <div class="box">
                        <ul class="connectedSortable drop sortable3">
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table__notes mdc-elevation--z16">
            <tr>
                <th class="horizontal">Notes</th>
            </tr>
            <tr>
                <td class="notes">
                    <div class="scroll">
                        <ul class="list__tasks sortable2 drop connectedSortable">
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                            <li class="list__tasks">
                                <input type="checkbox">
                                <i class="fa fa-pencil"></i>
                            </li>
                        </ul>
                    </div>
                </td>
        </table>
        <button id="cos" type="button" class="mdc-button mdc-button--raised mdc-elevation--z2">New
        </button>
        <div class="modal" id="myModal">
            {#<div class="new__task">#}
            {#<span class="close">&times;</span>#}
            {#<label>Title</label>#}
            {#<input type="text" name="Title" placeholder="Title:"/><br/>#}
            {#<label>Description</label>#}
            {#<textarea class="form1" rows="5" cols="22" placeholder="description"></textarea>#}
            {#<label>Status</label>#}
            {#<select name="status">#}
            {#<option selected="selected">not urgent</option>#}
            {#<option>urgent</option>#}
            {#<option>important</option>#}
            {#<option>not important</option>#}
            {#</select><br>#}
            {#<input type="checkbox">Show in Be Focused<br>#}
            {#<input type="checkbox">Due Date#}
            {#<input type="date">#}
            {#<input type="time"><br>#}
            {#<label>Flemind</label>#}
            {#<select>#}
            {#<option>1</option>#}
            {#<option>2t</option>#}
            {#<option>3</option>#}
            {#</select><br>#}
            {#<label>Move to Urgent</label>#}
            {#<select>#}
            {#<option>1</option>#}
            {#<option>2</option>#}
            {#<option>3</option>#}
            {#</select><br>#}
            {#<label>Tags</label>#}
            {#<input type="text" name="butWyslij">#}
            {#<button id="cos" type="button" class="add_task mdc-button mdc-button--raised">#}
            {#Add#}
            {#</button>#}
            {#</div>#}
            <div class="mdc-card mdc-elevation--z24">
                <i class="material-icons close">&#xE5CD;</i>
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large">Task</h1>
                </section>
                <div class="mdc-form-field">
                    <div class="mdc-text-field mdc-text-field--box">
                        <input type="text" name="Title" class="mdc-text-field__input" id="css-only-text-field-box"
                               placeholder="Title">
                    </div>
                    <div class="mdc-text-field mdc-text-field--textarea">
                        <textarea id="textarea-css-only" class="mdc-text-field__input" rows="5" cols="20"
                                  placeholder="Descrition:"></textarea>
                    </div>
                    <div class="mdc-checkbox">
                        <input type="checkbox" id="my-checkbox" class="mdc-checkbox__native-control"/>
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                    <label for="my-checkbox" id="my-checkbox-label">Is urgent?</label>
                    <div class="mdc-checkbox">
                        <input type="checkbox" id="my-checkbox" class="mdc-checkbox__native-control"/>
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                    <label for="my-checkbox" id="my-checkbox-label">Is important?</label>
                </div>
                <section class="mdc-card__actions">
                    <button id="cos" type="button" class="add_task mdc-button mdc-button--raised mdc-elevation--z2">
                        Add
                    </button>
                </section>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}